${jsonencode({
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Resource": [
        for arn in service_roles_allowed: "${arn}"
      ],
      "Action": "sts:AssumeRole"
    }
  ]
})}