${jsonencode({
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": [
        for arn in users_allowed: "${arn}"
        ]
      },
      "Action": "sts:AssumeRole"
    }
  ]
})}